**Download the data from the above link. How many ".csv" files are available in the dataset?**

4 csv files

In [1]:
import pandas as p

In [2]:
movies = p.read_csv("movies.csv")
rating = p.read_csv("ratings.csv")

**What is the shape of "ratings.csv"?**

In [4]:
movies.shape

(9742, 3)

**What is the shape of "movies.csv"?**

In [6]:
rating.shape

(100836, 4)

**How many unique "userId" are available in "ratings.csv"?**

In [78]:
len(rating['userId'].unique())

610

**Which movie has recieved maximum number of user ratings?**

In [106]:
ratings_count_per_movie = rating.groupby("movieId")["rating"].count()
max_rated_movie_id = ratings_count_per_movie.idxmax()
max_rated_movie_title = movies[movies["movieId"] == max_rated_movie_id]["title"].iloc[0]
print(max_rated_movie_title)

Forrest Gump (1994)

**Select all the correct tags submitted by users to "Matrix, The (1999)" movie?**

In [1]:

df_movies = pd.read_csv("movies.csv")
df_tags = pd.read_csv("tags.csv")

matrix_movie_id = df_movies[df_movies["title"] == "Matrix, The (1999)"]["movieId"].iloc[0]

tags_for_matrix = df_tags[df_tags["movieId"] == matrix_movie_id]

print(tags_for_matrix)

NameError: name 'pd' is not defined

**What is the average user rating for movie named "Terminator 2: Judgment Day (1991)"?**

In [29]:
import pandas as pd

df_movies = pd.read_csv("movies.csv")
df_ratings = pd.read_csv("ratings.csv")

terminator2_movie_id = df_movies[df_movies["title"] == "Terminator 2: Judgment Day (1991)"]["movieId"].iloc[0]
ratings_for_terminator2 = df_ratings[df_ratings["movieId"] == terminator2_movie_id]
average_rating_for_terminator2 = ratings_for_terminator2["rating"].mean()

print(f"Average user rating for 'Terminator 2: Judgment Day (1991)': {average_rating_for_terminator2:.2f}")

Average user rating for 'Terminator 2: Judgment Day (1991)': 3.97

**How does the data distribution of user ratings for "Fight Club (1999)" movie looks like?**

In [110]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import skew, kurtosis

fight_club_movie_id = movies[movies["title"] == "Fight Club (1999)"]["movieId"].iloc[0]
ratings_for_fight_club = rating[rating["movieId"] == fight_club_movie_id]

skewness = skew(ratings_for_fight_club["rating"])
kurt = kurtosis(ratings_for_fight_club["rating"])

if skewness < 0:
    distribution_type = "Left-Skewed"
elif skewness > 0:
    distribution_type = "Right-Skewed"
else:
    distribution_type = "Normal"


print(f"The distribution type is: {distribution_type}")

The distribution type is: Left-Skewed

**Mandatory Operations:
1. Group the user ratings based on movieId and apply aggregation operations like count and mean on ratings. 
2. Apply inner join on dataframe created from movies.csv and the grouped df from step 1.
3. Filter only those movies which have more than 50 user ratings (i.e. > 50).
**

In [109]:
grouped_ratings = rating.groupby("movieId").agg({'rating': ['count', 'mean']}).reset_index()
grouped_ratings.columns = ['movieId', 'rating_count', 'rating_mean']

merged_data = pd.merge(movies, grouped_ratings, on="movieId", how="inner")

filtered_data = merged_data[merged_data['rating_count'] > 50]
filtered_data

,movieId,title,genres,rating_count,rating_mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
5,6,Heat (1995),Action|Crime|Thriller,102,3.946078
6,7,Sabrina (1995),Comedy|Romance,54,3.185185
...,...,...,...,...,...
8287,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,54,3.916667
8354,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,52,3.778846
8358,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
8457,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333

**Which movie is the most popular based on  average user ratings?**

In [35]:
most_popular_movie = filtered_data.loc[filtered_data["rating_mean"].idxmax()]
most_popular_movie

movieId                                      318
title           Shawshank Redemption, The (1994)
genres                               Crime|Drama
rating_count                                 317
rating_mean                             4.429022
Name: 277, dtype: object

**Which movie is the most popular based on  average user ratings?**

In [38]:
top_5_popular_movies = filtered_data.nlargest(5, 'rating_count')
# print(top_5_popular_movies)
top_5_popular_movies

,movieId,title,genres,rating_count,rating_mean
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068
510,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290
1938,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446

**Which Sci-Fi movie is "third most popular" based on the number of user ratings?**

In [39]:
sci_fi_movies = filtered_data[filtered_data['genres'].str.contains('Sci-Fi', case=False, na=False)]

third_most_popular_sci_fi_movie = sci_fi_movies.nlargest(3, 'rating_count').iloc[-1]

In [40]:
third_most_popular_sci_fi_movie

movieId                                      480
title                       Jurassic Park (1993)
genres          Action|Adventure|Sci-Fi|Thriller
rating_count                                 238
rating_mean                                 3.75
Name: 418, dtype: object

**Mention the movieId of the movie which has the highest IMDB rating.**

In [65]:
import pandas as pd

df_links = pd.read_csv("links.csv", dtype={'imdbId': str})

merged_links = pd.merge(df_links, filtered_data[['movieId']], on='movieId', how='inner')

print(merged_links)

merged_links.to_csv("filtered_data.csv", index=False)

     movieId   imdbId    tmdbId
0          1  0114709     862.0
1          2  0113497    8844.0
2          3  0113228   15602.0
3          6  0113277     949.0
4          7  0114319   11860.0
..       ...      ...       ...
431   106782  0993846  106646.0
432   109374  2278388  120467.0
433   109487  0816692  157336.0
434   112852  2015381  118340.0
435   122904  1431045  293660.0

[436 rows x 3 columns]

In [66]:
merged_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  436 non-null    int64
 1   imdbId   436 non-null    object
 2   tmdbId   436 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.3+ KB

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

df_links = pd.read_csv("filtered_data.csv", dtype={'imdbId': str})

imdb_base_url = "http://www.imdb.com/title/tt"

def scrape_imdb_span(imdb_url):
    response = requests.get(imdb_url,headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    span = soup.find('span', class_='sc-bde20123-1 cMEQkK')
    return span.text if span else None

list_of_data = []

for index, row in df_links.iterrows():
    imdb_url = imdb_base_url + str(row['imdbId'])
    rating_span = scrape_imdb_span(imdb_url)
    list_of_data.append({'imdbId':str(row['imdbId']),'rating':rating_span})
    time.sleep(1)

data_frame = p.DataFrame(list_of_data)
data_frame.to_csv("imdb_data.csv", index=False)

**Mention the movieId of the movie which has the highest IMDB rating.**

In [111]:
imdb_rating = pd.read_csv("imdb_data.csv")
filter_data = pd.read_csv("filtered_data copy.csv")
merge_data = pd.merge(filter_data, imdb_rating, on = "imdbId")
all_data = pd.merge(merge_data, pd.read_csv("movies.csv"), on = "movieId")
sci_fi_movies = all_data[all_data['genres'].str.contains('Sci-Fi', case=False, na=False)]
sci_fi_movies.sort_values(by="rating", ascending=False).iloc[0]

movieId                                              79132
imdbId                                             1375666
tmdbId                                             27205.0
rating                                                 8.8
title                                     Inception (2010)
genres     Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
Name: 424, dtype: object

In [4]:
import pandas as pd